html,body{
    font-family: "Titillium Web", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
}

main {
    padding: 2rem;
    flex-grow: 1;
}

.navbar {
    background-color: #3FA2F6;
}

.navbar-brand img.logo {
    height: 40px;
}

.navbar-nav .nav-link {
    color: white;
    margin-right: 15px;
    font-weight: 500;
}

.navbar-nav .nav-link:hover {
    color: black;
}

.loginRegister .btn {
    margin-left: 5px;
}

.userLogOut .btn {
    margin-left: 5px;
}

/* Register & Login CSS */
.loginRegister > a {
    background-color: #f1f1f1;
    text-decoration: none;
    color: black;
    border: 1px solid;
    border-radius: 5px;
    padding: 7px;
}

.loginRegister > a:hover {
    background-color: #82b2f2;
}

.admin-greeting {
    text-align: center;
}

.dash-items:hover {
    background-color: cadetblue;
    color: black;
}

.home-img1 {
    width: 270px;
}

.cta-button {
    background-color: #3FA2F6;
    text-decoration: none;
    color: white;
    border-radius: 5px;
    padding: 10px;
}

.cta-button:hover {
    background-color: #0F67B1;
    text-decoration: none;
}

.form-signin {
    max-width: 330px;
    padding: 1rem;
    padding-top: 100px;
}

#floatingFullName {
    border-radius: 10px 10px 0px 0px;
}

#loginIdentifier {
    border-radius: 10px 10px 0px 0px;
}

#loginPassword {
    border-radius: 0px 0px 10px 10px;
}

#floatingRole {
    border-radius: 0px 0px 10px 10px;
}

footer {
    background-color: #f1f1f1;
    padding: 1rem;
    text-align: center;
}