html,body{
    font-family: "Titillium Web", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
}

main {
    padding: 2rem;
    flex-grow: 1;
}

/* Header */
.info-tab {
    display: flex;
    justify-content: space-between;
    margin: 0;
    background-color: #071952;
    color: white;
}

.info-tab p {
    margin: 0;
}

.navbar {
    background-color: #0B666A;
}

.logo {
    width: 100px;
    background-color: white;
    border-radius: 13px;
}

.navbar-nav .nav-link {
    color: white;
    margin-right: 15px;
    font-weight: 500;
}

.navbar-nav .nav-link:hover {
    color: #071952;
}

.loginRegister .btn {
    margin-left: 5px;
}

.userLogOut .btn {
    margin-left: 5px;
}

/* Register & Login */
.loginRegister > a {
    background-color: #f1f1f1;
    text-decoration: none;
    color: black;
    border-radius: 5px;
    padding: 7px;
}

.loginRegister > a:hover {
    background-color: #35A29F;
    color: #071952;
}

.form-signin {
    max-width: 330px;
    padding: 1rem;
    padding-top: 100px;
}

#floatingFullName {
    border-radius: 10px 10px 0px 0px;
}

#loginIdentifier {
    border-radius: 10px 10px 0px 0px;
}

#loginPassword {
    border-radius: 0px 0px 10px 10px;
}

#floatingRole {
    border-radius: 0px 0px 10px 10px;
}

/* Welcome - index */
#home-section h1 {
    font-size: 60px;
}

#home-section h6 {
    font-size: 20px;
}

.cta-button {
    background-color: #35A29F;
    text-decoration: none;
    color: white;
}

.cta-button:hover {
    background-color: #0B666A;
    text-decoration: none;
    color: white;
}

/* Services - index */
#services-section h2 {
    font-size: 45px;
}

/* Doctors - index */
#doctors-section h2 {
    font-size: 45px;
}

/* Dashboard */
.dash-items:hover {
    background-color: cadetblue;
    color: black;
}

.admin-greeting {
    text-align: center;
}

.doctor-greeting {
    text-align: center;
}

.patient-greeting {
    text-align: center;
}

/* Footer */
footer {
    background-color: #0B666A;
    color: white;
    padding: 1rem;
    text-align: center;
}